header {
    min-width: 1000px;
}

.nav-belt {
    font-family: inherit;
    line-height: 1em;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    position: relative;
    width: 100%;
    font-size: 14px;
    z-index: 5;
}

.nav-left {
    height: 39px;
    -webkit-box-sizing: border-box;
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
    font-size: 14px;
    z-index: 5;
    line-height: 1em;
}

.nav-sprite {
    background-image: url(../images/article/global-sprite-32-2x-v1._CB485971876_.png);
    background-size: 350px;
}

.nav-logo {
    position: relative;
    float: left;
    line-height: 0;
    height: 100%;
    width: 192px;
    padding: 6px 40px 0 32px;
    -webkit-box-sizing: border-box;
}

.nav-logo .nav-logo-link {
    display: block;
    width: 120px;
    height: 30px;
    position: relative;
    z-index: 50;
}

.nav-logo-link {
    display: block;
    background-position: -10px -120px;
    width: 86px;
    height: 37px;
    background-position: -10px -120px;
}

.nav-logo-tagline {
    top: 40px;
    left: 79px;
    position: absolute;
    font-size: 11px;
    line-height: 11px;
    font-family: inherit;
    white-space: nowrap;
    color: #48A3C6;
    background-repeat: no-repeat;
    background-position: -1000px 0;
    text-decoration: underline;
    font-weight: 700;
}

.nav-right {
    position: relative;
    height: 39px;
    min-width: 0;
    float: right;
    width: auto;
    display: inline-block;
    white-space: nowrap;
    z-index: 12;
}

#navSwmHoliday {
    background-image: url(../images/header/rm_wms._CB669945698_.jpg);
    width: 370px;
    height: 39px;
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    text-align: right;
    background-size: inherit;
    position: relative;
    overflow: hidden;
    top: 9px;
}

.nav-fill {
    overflow: visible;
    position: relative;
    height: 39px;
    width: auto;
    white-space: nowrap;
    font-size: 14px;
    font-family: inherit;
    line-height: 1em;
    z-index: 12;
}

#nav-search {
    margin: 10px 0 0;
    margin-top: 0;
    padding-top: 11px;
    padding-right: 25px;
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
}

.nav-searchbar {
    margin-bottom: 0;
    display: block;
    position: relative;
    white-space: nowrap;
    /* background-color: red; */
}

.nav-left {
    float: left;
    width: auto;
    display: inline-block;
    -webkit-box-sizing: border-box;
    z-index: 20;
}

.nav-searchbar .nav-left {
    height: 35px;
}

.nav-search-scope {
    position: relative;
    float: left;
    height: 35px;
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-top-color: #bdbdbd;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-radius: 0\9;
    background-position: 0 -532px;
    -webkit-box-sizing: border-box;
}

.nav-search-facade {
    position: relative;
    float: left;
    cursor: default;
    overflow: hidden;
}

#nav-search .nav-search-facade .nav-icon {
    position: absolute;
    top: 14px;
    right: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    -webkit-box-sizing: border-box;
    background-image: url(https://images-cn.ssl-images-amazon.cn/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    font-style: italic;
}

.nav-search-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    font-size: 12px;
    line-height: 33px;
    margin-right: 21px;
    margin-left: 5px;
}

.nav-search-submit .nav-input {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: 0 0;
    border: none;
    text-indent: -1000px;
    line-height: 1px;
}

#nav-belt .nav-icon {
    position: absolute;
    top: 14px;
    right: 8px;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.searchSelect {
    position: absolute;
    display: block;
    top: -1px;
    left: 0;
    height: 35px;
    width: auto;
    font-family: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    border: 0;
    line-height: 35px;
    display: block;
    top: 0px;
    font-size: 100%;
    vertical-align: middle;
}

.nav-search-submit {
    position: relative;
    top: 0;
    right: 0;
    height: 35px;
    width: 42px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid;
    border-color: #485059 #2c3137 #363c43 #485059;
    background-color: #5B626A;
    background-position: 0 -381px;
    border-radius: 0 4px 4px 0;
    -webkit-box-sizing: border-box;
}

.nav-search-submit-text {
    background-position: -40px -290px;
    width: 21px;
    height: 21px;
    text-indent: -500px;
    top: 7px;
    left: 12px;
    color: #111;
    text-shadow: none;
    font-weight: 700;
    position: absolute;
}

.nav-search-field .nav-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    line-height: 15px;
    padding: 6px 10px 6px 0;
    margin: 0;
    border: 0;
    height: 33px;
    font-family: inherit;
    font-size: 15px;
    background: 0 0;
    color: #111;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
    -webkit-box-sizing: border-box;
}

.nav-searchbar .nav-fill {
    overflow: hidden;
}

.nav-search-field {
    position: relative;
    height: 35px;
    background: #fff;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #cdcdcd;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
}

.aok-offscreen {
    display: inline-block;
    float: left;
    line-height: 35px;
    color: #333;
    font-weight: 700;
    padding: 0 10px 0 0;
    margin-top: 10px;
    font-family: inherit;
    position: absolute !important;
    left: 0 !important;
    bottom: -1px !important;
    z-index: -1 !important;
    opacity: 0;
    white-space: nowrap;
}

#nav-main {
    width: 100%;
    height: 60px;
    padding-top: 5px;
    position: relative;
    transform: translate3d(0, 0, 0);
    z-index: 4;
    background-position: 0 -725px;
    -webkit-box-sizing: border-box;
    background-repeat: repeat-x;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-main .nav-left {
    height: 55px;
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-shop {
    float: left;
    padding: 6px 12px 0 15px;
    text-decoration: none;
    margin-top: 2px;
    width: 192px;
    -webkit-box-sizing: border-box;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
    color: #0F1111;
}

#nav-link-shopall {
    padding-right: 0;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0);
    top: 1px;
    margin: 0 1px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    line-height: 44px;
    height: 44px;
    position: relative;
    float: left;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    color: #007185;
    font-size: 12px;
    -webkit-text-size-adjust: 100%;
}

#nav-link-shopall .nav-line-1 {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 9px;
    float: left;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    padding: 0 12px 0 13px;
    font-family: inherit;
    color: #000;
}

#nav-link-shopall .nav-line-2 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    float: left;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    padding: 0 12px 0 13px;
    font-family: inherit;
    color: #000;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

#nav-link-shopall .nav-line-2 .nav-icon {
    visibility: visible;
    display: inline-block;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;
    -webkit-box-sizing: border-box;
    background-image: url(https://images-cn.ssl-images-amazon.cn/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
    position: relative;
    top: 1px;
    left: -3.5px;
}

#nav-main .nav-right {
    height: 55px;
    -webkit-box-sizing: border-box;
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-tools {
    float: left;
    padding: 6px 7px 0 32px;
    text-decoration: none;
    margin-top: 2px;
    -webkit-box-sizing: border-box;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-tools {
    float: left;
    padding: 6px 7px 0 32px;
    text-decoration: none;
    margin-top: 2px;
    -webkit-box-sizing: border-box;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-tools .nav-a {
    padding-right: 0;
    overflow: hidden;
    top: 1px;
    margin: 0 1px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    position: relative;
    float: left;
    padding: 0 0 0 9px;
    line-height: 44px;
    height: 44px;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 0);
}

#nav-tools .nav-line-1 {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 9px;
    float: left;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    padding-right: 9px;
    font-family: inherit;
    color: #000;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

#nav-tools .nav-line-2 {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    float: left;
    clear: both;
    display: inline-block;
    white-space: nowrap;
    padding-right: 9px;
    font-family: inherit;
    color: #000;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

.nav-arrow {
    background-image: url(https://images-cn.ssl-images-amazon.cn/images/G/28/gno/sprites/global-sprite-32-v1._CB485972286_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

#nav-tools .nav-icon {
    visibility: visible;
    display: inline-block;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #606060;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 0 0 2px 5px;
    -webkit-box-sizing: border-box;
    font-weight: 700;
}

#nav-tools .nav-cart-icon {
    display: block;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 11px;
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    box-sizing: border-box;
    background-repeat: repeat-x;
    line-height: 44px;
    cursor: pointer;
    font-family: inherit;
}

#nav-tools #nav-cart .nav-line-2 {
    margin-left: 42px;
}

#nav-tools #nav-cart .nav-icon {
    opacity: 0;
}

#nav-tools #nav-cart-count {
    left: 22px;
    margin: 0 auto;
    top: 9px;
    font-size: 16px;
    width: 19px;
    color: #e47911;
    font-weight: 700;
    font-family: inherit;
    position: absolute;
    line-height: 16px;
    text-align: center;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}

#nav-main .nav-fill {
    height: 55px;
    -webkit-box-sizing: border-box;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-xshop-container {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 20;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

.nav-xshop {
    margin: 32px 0 0;
    height: 37px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
    font-family: inherit;
    font-size: 12px;
    line-height: 1em;
}

#nav-xshop-container .nav-xshop .nav-a {
    color: #05a;
    text-decoration: none;
    padding-left: 0;
    float: left;
    padding: 0 9px;
    margin-bottom: 25px;
    font-family: inherit;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    line-height: 1em;
    white-space: nowrap;
}

#nav-xshop-container #nav-your-amazon {
    padding-left: 0;
}

#nav-xshop-container .nav-xshop a:hover {
    color: #e47911;
    text-decoration: underline;
}

.nav-flyout-anchor #nav-flyout-prime {
    width: 310px;
    display: block;
    position: absolute;
    top: 59px;
    left: 920px;
    margin: -3px 0 0 -2px;
    padding-bottom: 7px;
    border-radius: 3px 3px 3px 3px;
    overflow: visible !important;
    background: #fff;
    border: 1px solid #bbb;
    padding: 14px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
    /* box-sizing: border-box; */
    z-index: 13;
    display: none;
}

.nav-flyout-anchor #nav-flyout-prime .nav-arrow {
    left: 108px;
}

.nav-flyout-anchor #nav-flyout-prime .nav-template {
    -webkit-box-sizing: content-box;
    width: auto;
    padding: 0;
    min-width: 200px;
}

.nav-flyout-anchor #nav-flyout-prime .nav-template .a-link-normal {
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
}

.nav-flyout-anchor #nav-flyout-wishlist {
    display: block;
    position: absolute;
    top: 59px;
    left: 1020px;
    box-sizing: border-box;
    margin: -3px 0 0 -2px;
    padding-bottom: 7px;
    width: 240px;
    border-radius: 3px 3px 3px 3px;
    overflow: visible !important;
    background: #fff;
    border: 1px solid #bbb;
    padding: 14px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
    zoom: 1;
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
    z-index: 13;
    display: none;
}

.nav-flyout-anchor #nav-flyout-wishlist .nav-template {
    width: 210px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
}

.nav-flyout-anchor #nav-flyout-wishlist .nav-template .nav-link {
    position: relative;
    display: block;
    clear: both;
    font-family: inherit;
    line-height: 16px;
    padding: 0 0 7px;
    margin: 0;
    text-decoration: none;
    color: #007185;
    display: block;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
}

.nav-flyout-anchor #nav-flyout-wishlist .nav-template .nav-link:hover {
    color: #e47911;
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
}