/* 页面登入样式 */

#nav-flyout-yourAccount * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#nav-flyout-yourAccount {
    display: block;
    position: absolute;
    top: 59px;
    left: 879px;
    margin-top: -2px;
    margin: -3px 0 0 -2px;
    padding-bottom: 7px;
    width: 240px;
    -webkit-border-radius: 3px 3px 3px 3px;
    overflow: visible !important;
    background: #fff;
    border: 1px solid #bbb;
    padding: 14px;
    zoom: 1;
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
    z-index: 13;
    box-sizing: border-box;
    display: none;
}

#nav-flyout-yourAccount .nav-flyout-content {
    border-bottom: 1px solid #eee;
    font-size: 11px;
    margin-bottom: 8px;
    font-family: inherit;
    line-height: normal;
}

#nav-flyout-yourAccount .nav-flyout-content .nav-action-button {
    display: block;
    height: 33px;
    margin: 0 10px 0 11px;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    border-radius: 3px 3px 3px 3px;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    background: -webkit-linear-gradient(top, #f8e3ad, #EEBA37);
    text-align: center;
    vertical-align: middle;
    color: #111;
    font-family: inherit;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
}

#nav-flyout-yourAccount .nav-flyout-content .nav-action-button .nav-action-inner {
    color: #111;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    font-size: 13px;
}

#nav-flyout-yourAccount .nav-flyout-content #nav-flyout-ya-newCust {
    color: #333;
    margin: 7px 0 9px 0;
    font-family: inherit;
    line-height: normal;
}

#nav-flyout-yourAccount .nav-flyout-content #nav-flyout-ya-newCust .nav-a {
    font-size: 11px;
    text-decoration: none;
    color: #05a;
    display: inline;
    font-family: inherit;
    cursor: pointer;
}

#nav-flyout-yourAccount .nav-flyout-content #nav-flyout-ya-newCust .nav-a:hover {
    color: #e47911;
    text-decoration: underline;
}

#nav-flyout-yourAccount .nav-arrow {
    left: 69px;
}

#nav-flyout-yourAccount .nav-template {
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
}

#nav-flyout-yourAccount .nav-template .nav-link {
    position: relative;
    display: block;
    clear: both;
    font-family: inherit;
    line-height: 16px;
    padding: 0 0 7px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

#nav-flyout-yourAccount .nav-template .nav-link .nav-text {
    display: block;
    font-size: 13px;
    color: #444;
    font-weight: 400;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
}

#nav-flyout-yourAccount .nav-link:hover .nav-text {
    color: #e47911;
    text-decoration: underline;
}


/* 尾部登入 */

#rhf {
    clear: both;
    box-sizing: border-box;
}

#rhf * {
    box-sizing: border-box;
}

#rhf .rhf-frame {
    min-width: 940px;
    position: relative;
    margin-top: 22px;
    margin-bottom: 22px;
}

#rhf-container {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 20px;
}

#rhf-container .rhf-sign-in-button {
    border: 0;
    line-height: 15px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
    font-size: 13px;
    margin-top: 19px;
    margin-bottom: 17px;
}

#rhf-container .rhf-sign-in-button p {
    text-align: center;
    line-height: 15px;
}

#rhf-container .rhf-sign-in-button .action-button {
    text-align: center;
    margin: auto;
    max-width: 230px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 230px;
    display: block;
    background-position: -10px -170px;
    background-image: url(../images/article/vfqcwUkuArEiwD2.png);
}

#rhf-container .rhf-sign-in-button .action-button .action-inner {
    cursor: pointer;
    background-position: right -170px;
    display: block;
    height: 28px;
    position: relative;
    color: #000;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffe093;
}


/* 账号退出 */

.nav-signin-tt {
    display: none;
    position: absolute;
    top: 58px;
    left: 879.635px;
    opacity: 1;
    overflow: visible !important;
    background: #fff;
    border: 1px solid #bbb;
    padding: 14px;
    margin: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 13%);
    zoom: 1;
    -webkit-transform: translate3d(0, 0, 0);
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
    z-index: 20;
}

.nav-signin-tooltip {
    text-align: center;
    font-size: 13px;
    font-family: inherit;
    line-height: normal;
}

.nav-action-button {
    display: block;
    height: 33px;
    margin: 0 10px 0 11px;
    cursor: pointer;
    outline: 0;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    border-radius: 3px 3px 3px 3px;
    box-shadow: inset 0 1px 0 0 #fcf3dc;
    background: -webkit-linear-gradient(top, #f8e3ad, #EEBA37);
    vertical-align: middle;
    color: #111;
    font-family: inherit;
    text-decoration: none;
    line-height: 30px;
    font-size: 13px;
}

.nav-action-button .nav-action-inner {
    color: #111;
    display: block;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    font-size: 13px;
    padding: 0 20px;
}

.nav-signin-tt .nav-arrow {
    display: block;
    top: -10px;
    left: 70px;
}