body {
    font-size: 13px;
    line-height: 19px;
    color: #111;
    margin: 0;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
}

#a-page {
    margin-bottom: 22px;
    padding: 14px 18px !important;
}

#a-page * {
    box-sizing: border-box;
}

#a-page .a-section {
    text-align: center !important;
    margin-bottom: 18px !important;
}

#a-page .a-section a {
    text-decoration: none;
    color: #0066c0;
}

#a-page .a-icon-logo-china {
    background-image: url(../images/article/BgnVchebDR5Ds4h.png);
    background-position: -5px -590px;
    height: 38px;
    width: 87px;
    background-size: 400px 750px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

#authportal-center-section {
    width: 700px;
    margin: auto;
}

#authportal-main-section {
    margin-top: 10px;
    margin-bottom: 0;
}

.auth-pagelet-container {
    width: 350px;
    margin: 0 auto;
}

.auth-pagelet-container {
    width: 350px;
    margin: 0 auto;
}

#ap_register_form {
    margin-bottom: 14px;
}

.a-spacing-extra-large {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}

.a-box-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}

.a-spacing-small {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 10px !important;
    padding-bottom: 4px;
}

#ap_register_form .a-spacing-base {
    width: 100%;
    margin-bottom: 14px !important;
}

#ap_register_form .a-form-label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

#ap_register_form .a-input-text {
    width: 100%;
    margin-right: 0;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
    outline: 0;
    transition: all .1s linear;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
    color: #111;
}

.ap_mobile_number_fields {
    margin-bottom: 26px !important;
    margin-top: 30px;
}

.auth-continue {
    width: 100% !important;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
}

.a-button-inner {
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    border-radius: 2px;
}

.a-button-text {
    color: #111;
    background-color: transparent;
    border: 0;
    display: block;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

.a-divider {
    display: block;
    height: 44px;
    position: relative;
}

.a-divider-inner {
    height: 44px;
    margin-bottom: -18px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .14), rgba(0, 0, 0, .03) 3px, transparent);
    z-index: 0;
    zoom: 1;
}

.a-divider-inner::after {
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
    z-index: 1;
    content: "";
}

.a-divider-inner span {
    position: absolute;
    bottom: 0;
}

.a-divider-inner span a {
    color: #0066c0;
}

.a-divider-inner span a::after {
    background-image: url(../images/article/BgnVchebDR5Ds4h.png);
    background-size: 400px 750px;
    background-repeat: no-repeat;
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    right: -7px;
    top: 50%;
    height: 6px;
    margin-top: -3px;
    background-position: -346px -86px;
    /* vertical-align: top; */
}

.auth-footer {
    margin-top: 26px !important;
    margin-bottom: 0;
}

.auth-footer .a-text-center {
    font-size: 11px !important;
    line-height: 1.465 !important;
    margin-bottom: 10px !important;
    text-align: center;
    margin-top: -20px;
}

.auth-footer .a-text-center a {
    color: #0066c0;
    padding: 0 10px;
}

p {
    font-size: 11px !important;
    line-height: 1.465 !important;
    text-align: center;
    color: #555 !important;
}

#ap_register_form .a-input-text:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.a-checkbox {
    width: 100%;
}

.a-checkbox label {
    position: relative;
    font-weight: 400;
    color: #111;
    padding-left: 15px;
    text-indent: -15px;
    margin-left: 3px;
    top: -2px;
    padding-bottom: 0;
    display: block;
}

input[type=checkbox] {
    height: 13px;
    width: 13px;
    vertical-align: top;
    position: relative;
    bottom: -3px;
    transition: all .1s linear;
    font-family: "Hiragino Sans GB", "Microsoft Yahei", Arial, sans-serif;
    line-height: 19px;
    color: #111;
    margin: 0;
    font-size: 100%;
}

.a-checkbox-label {
    position: relative;
    padding-left: 5px;
    text-indent: 0;
    display: inline-block;
    font-weight: 400;
    color: #111;
}